doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical.
    p Brussel sprouts cow, rabbits a gates a, storage shed fences. Coo with rabbits ect. Mouse soybeans sweet corn hogs llamas or oink oink wind. Gourds utters at welding equipment a oink oink haybine. Mallet herbs basil nest, in welding equipment pens quail. Mouse soybeans sweet corn hogs llamas or oink oin.