extends layout.pug

block content
    if names
        table 
            tr 
                th First Name 
                th Last Name
            each name in names 
                tr 
                    if name.first 
                        td= name.first 
                    else 
                        td= "N/A"
                    if name.last 
                        td= name.last 
                    else 
                        td= "N/A"
    section#content
      h2 Welcome student !